/* body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
} */

.quote {
  width: 200px;
  background-color: blanchedalmond;
  margin: 10px;
  border: 1px solid purple;
  border-radius: 2%;
  padding: 10px 20px;
}

.quoteBlocks {
  display: flex;
  flex-wrap:wrap;
}

